# Ignorer tout à la racine par défaut
/*

# -------------------------------------------------------------------------
# Fichiers autorisés
# -------------------------------------------------------------------------
!/index.toml
!/pack.toml
!/eula.txt
!/icon.png
!/server-icon.png
!/server.properties
!/variables.txt

# -------------------------------------------------------------------------
# Dossiers autorisés (et leur contenu)
# -------------------------------------------------------------------------
!/config/
!/datapacks/
!/easy_npc/
!/fancymenu_data/
!/mods/
!/resourcepacks/
!/shaderpacks/
